@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: 'Raleway Light';
    src: url('./assets/raleway/Raleway-Light.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Raleway ExtraLight';
    src: url('./assets/raleway/Raleway-ExtraLight.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Raleway Thin';
    src: url('./assets/raleway/Raleway-Thin.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Raleway SemiBold';
    src: url('./assets/raleway/Raleway-SemiBold.ttf') format('truetype');
  }

}
